[submodule "themes/Cupper"]
	path = themes/Cupper
	url = https://github.com/zwbetz-gh/cupper-hugo-theme.git
[submodule "public"]
	path = public
	url = https://github.com/yangoos57/yangoos57.github.io.git
