<article class="card border-0  p-1 mb-3 bg-body rounded">
  <div class="row g-0 align-items-center ">
    <div class="col-md-3 ms-3 me-4">
      <a href="{{.Permalink}}">
        <img loading="lazy" class="img-fluid" src="{{ .Params.image_webp | absURL }}"
          onerror="this.onerror=null;this.src='{{ .Params.image | absURL }}'" alt="{{.Title}}">
      </a>
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title fs-3 fw-bolder"><a href="{{.Permalink}}">{{.Title}}</a></h2>
        <div>
          <span class="post-date">{{.PublishDate.Format "02 Jan, 2006"}}</span>
          <span class="post-date">{{.PublishDate.Format "02 Jan, 2006"}}</span>
        </div>
        <p class="card-text mb-1 text-left mt-2">{{ .Summary }}...</p>
      </div>
    </div>
  </div>
</article>