<head>
    <!-- Primer -->
    <link rel="stylesheet" href="{{ `css/primer.css` | relURL }}">
    
    <!-- Custom -->
    {{ $templateStyles := resources.Get "css/template-styles.css" }}
    {{ $styles := $templateStyles | resources.ExecuteAsTemplate "css/styles.css" . }}
    <link rel="stylesheet" type="text/css" href="{{ $styles.RelPermalink }}">

    <!-- bootstrap -->
    <link rel="stylesheet" href="{{ `css/bootstrap.css` | relURL }}">
    <script defer language="javascript" type="text/javascript"  src="{{ "/js/bootstrap.js" | urlize | relURL }}"></script>

    <!-- <link rel="stylesheet" href="{{ "css/prism.css" | relURL }}" media="none" onload="this.media='all';">
    <script defer language="javascript" type="text/javascript"  src="{{ "/js/prism.js" | urlize | relURL }}"></script> -->

</head>