<aside>
    <div class="offcanvas-body nav-box">
        <div>
          <h4>
            <a href="/">🌏 전체보기
            <span class="badge bg-light text-dark rounded-pill" style="background-color: #f0f2f4;color: #404b59; border: 1px solid #f0f2f4;">
              {{ len .Site.RegularPages }}
            </span>
            </a>
          </h4>

          <br><br>
          <ul class="ps-0" style="list-style: none;">
            {{range .Site.Sections}}
            <li>
              <h5><a href="/{{ .Type | urlize }}">🔗&nbsp;{{.Type | upper}}</a> </h5>
            </li>
            <ul class="ps-2" style="list-style: none;">{{ range .Pages }}
              <li>
                <h6><a href="{{.Permalink}}">‣ {{.Type | upper }}&nbsp;
                    <span class="badge rounded-pill" style="background-color: #f0f2f4;color: #404b59; border: 1px solid #f0f2f4;">
                      {{len .Pages}}
                    </span>
                  </a>
                </h6>
              </li>
            {{ end }}
           </ul>
              <br>
              {{ end }}
            </ul>
        </div>  
    </div>
</aside>