<aside>
  <div class ="nav-box">
    <h6>
      <a href="/">
      전체보기
      <span class="badge bg-light text-dark rounded-pill">
        {{ len .Site.RegularPages }}
      </span>
      </a>
    </h6>
    <br>
      <!--대주제 불러오기 -->
      <ul class="ps-0">
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }} 
          <li><h5>{{ $taxonomyname }}</h5><hr></li>
        <ul class="ps-2 text-">{{ range $key, $value := $taxonomy }}<li>
            <a href="/{{ $taxonomyname | urlize }}/{{ $key | urlize}}">
              {{ $key }}
              <span class="badge bg-light text-dark rounded-pill">
                {{len .Pages}}
              </span>
              <br>
            </a>
          </li>
          {{ end }}
        </ul>
        <br>
        {{ end }}
      </ul>
  </div>  
</aside>