<!-- <aside>
  <div class ="nav-box">
    <br>
    <h6>
      <a href="/">
      전체보기
      <span class="badge bg-light text-dark rounded-pill">
        {{ len .Site.RegularPages }}
      </span>
      </a>
    </h6>
      <ul class="ps-0 mb-0 mt-5">
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        {{if ne $taxonomyname "Tags"}}
        <li class="mt-3"><h5>{{ $taxonomyname }}</h5><hr></li>
        <ul class="ps-2 mb-5">{{ range $key, $value := $taxonomy }}
          <li class="mb-1">
          <a href="/{{ $taxonomyname | urlize }}/{{ $key | urlize}}">
              {{$key}}
            <span class="badge bg-light text-dark rounded-pill">
              {{len .Pages}}
            </span>
          </a>
        </li>
        {{ end }}
      </ul>
        {{end}} 
        {{ end }}
      </ul>
  </div>  
</aside> -->


<div class="offcanvas-body nav-box">
  <div>
    <h4>
      <a href="/">
      전체보기
      <span class="badge bg-light text-dark rounded-pill">
        {{ len .Site.RegularPages }}
      </span>
      </a>
    </h4>
    <br>
      <!--대주제 불러오기 -->
      <ul class="ps-0" style="list-style: none;">
        {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
        {{if ne $taxonomyname "Tags"}}
        <li><h5> <text class="text-stroke-fill" text-anchor="middle" x="30%" y="30%" dy=".35em">🌏&nbsp;</text>{{$taxonomyname}}</h5></li>
        
        <ul class="ps-2" style="list-style: none;">{{ range $key,   $value := $taxonomy }}
          <li>
            <h6>
              <a href="/{{ $taxonomyname | urlize }}/{{ $key | urlize}}">
                <text class="text-stroke-fill" text-anchor="middle" x="10%" y="10%" dy=".1em">🔗 &nbsp;</text>{{$key}}
                <span class="badge bg-light text-dark rounded-pill">
                  {{len .Pages}}
                </span>
                <br>
              </a>
            </h6>
          </li>
          {{ end }}
        </ul>
        {{end}} 
        <br>
        {{ end }}
      </ul>
  </div>  
</div>