<aside class="offcan-left">
  <button class="btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
  <div class='menu-icon_mobile'>
    <svg xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
    </svg>
  </div>
  <div class='menu-icon_pc'>
    <svg xmlns="http://www.w3.org/2000/svg" width="60" height="50" fill="currentColor" class="bi bi-chevron-compact-right" viewBox="0 0 16 16">
      <path fill-rule="evenodd" d="M6.776 1.553a.5.5 0 0 1 .671.223l3 6a.5.5 0 0 1 0 .448l-3 6a.5.5 0 1 1-.894-.448L9.44 8 6.553 2.224a.5.5 0 0 1 .223-.671z"/>
    </svg>
  </div>
  </button>

  <!-- 내용물 -->
  <div class="offcanvas offcanvas-start " data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-body nav-box">
        <div>
          <h4>
            <a href="/">🌏 전체보기
            <span class="badge bg-light text-dark rounded-pill" style="background-color: #f0f2f4;color: #404b59; border: 1px solid #f0f2f4;">
              {{ len .Site.RegularPages }}
            </span>
            </a>
          </h4>
          <!-- <a href='{{site.Params.Github}}'><svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/></svg></a> -->

          <br><br>
          <ul class="ps-0" style="list-style: none;">
            {{range .Site.Sections}}
            <li>
              <h5><a href="/{{ .Type | urlize }}">🔗&nbsp;{{.Type | upper}}</a> </h5>
            </li>
            <ul class="ps-2" style="list-style: none;">{{ range .Pages }}
              <li>
                <h6><a href="{{.Permalink}}">‣ {{.Type | upper }}&nbsp;
                    <span class="badge rounded-pill" style="background-color: #f0f2f4;color: #404b59; border: 1px solid #f0f2f4;">
                      {{len .Pages}}
                    </span>
                  </a>
                </h6>
              </li>
            {{ end }}
           </ul>
              <br>
              {{ end }}
            </ul>
        </div>  
    </div>

    <div style="margin : 10px; padding : 10px">
 
    </div>

  </div>

</aside>
<script>$(document).mouseup(function (e){
  var LayerPopup = $(".offcanvas");
  if(LayerPopup.has(e.target).length === 0){
    LayerPopup.removeClass("show");
  }
});</script>

