<aside style="position: fixed; left:0 ; top:50% ">
<button class="btn btn-secondary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
  <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" fill="currentColor" class="bi bi-arrow-bar-right" viewBox="0 0 16 16">
    <path fill-rule="evenodd" d="M6 8a.5.5 0 0 0 .5.5h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L12.293 7.5H6.5A.5.5 0 0 0 6 8zm-2.5 7a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5z"/>
  </svg>
</button>

<!-- 내용물 -->
<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel" style="width: 20%; z-index: 9999;">
  <div class="offcanvas-header">
    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body" style="z-index: 9999">
    <div>
      <div  style="border: 0; margin: 0; padding: 1em;">
        <h4 class="h4"><a href="/">전체보기
          <span class="badge bg-light text-dark rounded-pill">
            {{ len .Site.RegularPages }}
          </span>
          </a>
        </h4>
        <br>
          <!--대주제 불러오기 -->
          <ul class="ps-0">
            {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }} 
              <li><h4 class="h4">{{ $taxonomyname }}</h4><hr></li>
            <ul class="ps-1">{{ range $key, $value := $taxonomy }}<li>
                <h5 class="h5"><a href="/{{ $taxonomyname | urlize }}/{{ $key | urlize}}">
                  {{ $key }}
                  <span class="badge bg-light text-dark rounded-pill">
                    {{len .Pages}}
                  </span>
                </a></h5>
              </li>
              {{ end }}
            </ul>
            <br>
            {{ end }}
          </ul>
      </div>  
    </div>
  </div>
</div>
</aside>