
<!-- categories -->
{{$current_Type := replace (replace .File.Dir .Type "" ) "\\" "" | upper}}

{{with .Site.GetPage "section" .Section}}
<a href="{{.Permalink}}">
  <span class="badge text-dark" style="background-color: #d9e8f5;">{{.Type | upper}}</span>
</a>
<!-- {{.RelPermalink}} -->
{{range .Pages}}
{{if eq (.Type | upper) $current_Type}}
<a href="{{.Permalink}}">
  <span class="badge text-dark" style="background-color: #d9e8f5;">{{.Type | upper}}</span>
</a>
{{end}}{{end}}{{end}}
<!-- tags -->
{{ with .Params.Tags }}{{ range . }}
<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="muted-link">
  <span class="badge text-white" style="background-color: #84aec4;" >{{ . | upper }}</span>
</a>
{{ end }}{{ end }}