
<!-- categories -->
{{ range first 2 (split .Page.File.Dir "\\" ) }}
<span class="badge  text-dark " style="background-color: #d9e8f5b9;font-size: 0.85em;">{{ . }}</span>
{{end}}
<!-- tags -->
{{ with .Params.Tags }}{{ range . }}
<a href='{{ "/tags/" | relLangURL }}{{ . | urlize }}' class="muted-link">
  <span class="badge text-white" style="background-color: #84aec4;" >{{ . }}</span>
</a>
{{ end }}{{ end }}

<!-- {{with .Site.Taxonomies}}{{range . }}
{{.}}
<br>
<br>
{{end}}{{end}} -->



<!-- {{ range $taxonomyname, $taxonomy := .Site.Taxonomies }}
{{if ne $taxonomyname "tags"}}
<li><h5>{{ $taxonomyname }}</h5><hr></li>
<ul class="ps-2 text-">{{ range $key, $value := $taxonomy }}<li>
  <a href="/{{ $taxonomyname | urlize }}/{{ $key | urlize}}">
      {{$key}}
    <span class="badge bg-light text-dark rounded-pill">
      {{len .Pages}}
    </span>
    <br>
  </a>
</li>
{{ end }}
</ul>
{{end}} 
<br>
{{ end }} -->