<style>
  #test{
    width: 50em;
    height: 4em;
    margin-left: 18em;
    padding: 2em;
    padding-bottom: 0em;
    text-align: center;
  } 
  #test ul li {
    list-style: none;
    display : inline;
  }
</style>
{{if .IsHome}}

<div id ='test'>
  <div style="width: 80%; display: flex; justify-content: space-between;">
      <div> </div>
      <div> <img src="/favicon-96x96.png"></div>
      <div style="display: flex; flex-direction: column">
        <div> &nbsp; </div>
        <div>
          <input
            id="search"
            type="text"
            placeholder="{{ T "search_placeholder" }}"
            aria-label="{{ T "search_aria_label" }}"
            size="10"
        />
        </div>
        <div>&nbsp;</div>
    </div>
  </div>
</div>

{{else}}

<div id ='test'>
  <ul>
  <li style="float: center">
    <h2 style="display : inline">Hello center</h2>
  </li>

  <li style="float: right">
      <input
    id="search"
    type="text"
    placeholder="{{ T "search_placeholder" }}"
    aria-label="{{ T "search_aria_label" }}"
    size="10"
    />
  </li>
</ul>
</div>


{{end}}
