<style>
  #test{
    height: 30px;
  } 
  #test ul li {
    list-style: none;
    float : left;
    line-height: 30px;
    vertical-align: middle;  
  }
  .test2{
    font-family: sans-serif;
    width : 500px
  }
</style>

<div id ='test'>
  <ul>
  <li class = 'test2'>
     ''
  </li>
  <li>
    <h3 class ='test2'>Hello center</h3>
  </li>
  <li>
    <input
    id="search"
    type="text"
    placeholder="{{ T "search_placeholder" }}"
    aria-label="{{ T "search_aria_label" }}"
    size="10"
    />
  </li>
</ul>


 
</div>

