{{ define "main" }}
<header>
  <meta URIEncoding="utf-8">
</header>
  <main id="main">
  <h1>최신글</h1>
  {{ range .Site.RegularPages }}
  <div class = 'main-recent'>
    <ul>
      <li>
        Title:{{.Title}}
      </li>
      <li>
        Category: {{.File.Dir}}
      </li>
      <li>
        Type: {{.Type}}
        <li>
          name: {{.File.BaseFileName}}
        </li>
        <li>
          link: {{.Permalink}}
        </li>
        <li>
          Baseurl: {{.Site.BaseURL}}
        </li>
        <li>
          {{$img_path := (print "/img/" .File.Dir)}}
          {{$img_path_1 := (print "/static/" $img_path)}}
          {{ with os.ReadDir $img_path_1 }}
            {{$test := os.ReadDir $img_path_1 }}
            {{$index := index $test 1}}
            {{$img := (print $img_path $index.Name)}}
            <img src="{{$img}}">
          {{ end }}
        </li>
        <li>
        </li>
    </ul>
  </div>
  {{ end }}
  </div>
  </main>
{{ end }}