<div class="accordion" id="accordionPanelsStayOpenExample" style="margin: 0 ;">
  <div class="accordion-item">
    <h2 class="accordion-header" id="panelsStayOpen-headingOne" style="margin: 0 ; padding: 0;">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne" style="color: #7a828e; background-color:#f6f8fa; ">
        💡 {{.Get "title" | markdownify }}
      </button>
    </h2>
    <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
      <div class="accordion-body" style="font-size: 16px; line-height : 1.9em">
        {{ .Get "content" | markdownify }}
      </div>
    </div>
  </div>
</div>