<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>  

<style>

input.range {
    -webkit-appearance: none;
    bottom: -10px;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    background: transparent;
  }
  input.range:focus {
    outline: 0;
  }
  input.range::-moz-focus-outer {
    border: 0;
  }
  
  input.range::-webkit-slider-thumb {
    box-shadow: 1px 1px 1px black, 0px 0px 1px black;
    border: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7.5px;
  }
  
  input.range::-moz-range-thumb {
    box-shadow: 1px 1px 1px black, 0px 0px 1px black;
    border: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
  }
  
  input.range::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #84aec4;
    border-radius: 20px;
    border: 0;
  }
  
  input.range::-moz-range-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
    background: #84aec4;
    border-radius: 20px;
    border: 0;
  }
  
  input.range::-ms-track {
    width: 100%;
    height: 5px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  input.range::-ms-thumb {
    box-shadow: 1px 1px 1px black, 0px 0px 1px black;
    border: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
    height: 5px;
  }
  
  input.range::-ms-fill-lower,
  input.range::-ms-fill-upper {
    background: #84aec4;
    border: 0;
    border-radius: 40px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  }
  
  .range__tick {
    fill: #a0a0a0;
  }
  .range__tick:first-child {
    -webkit-transform: translateX(2px);
    -moz-transform: translateX(2px);
    -ms-transform: translateX(2px);
    -o-transform: translateX(2px);
    transform: translateX(2px);
  }
  .range__tick:last-child {
    -webkit-transform: translateX(-3px);
    -moz-transform: translateX(-3px);
    -ms-transform: translateX(-3px);
    -o-transform: translateX(-3px);
    transform: translateX(-3px);
  }
  
  .range__field {
    border: 0;
    width: 80%;
    margin: 0 auto ;
    text-align: center ;
  }
  .range__point{
    font-size: 14px ;
  }
  
</style>
{{ $getdir := .Get "dir" | markdownify }}

<!-- 파일 경로 불러오기 -->
{{$test := readDir (print "static" $getdir ) }}

<!-- 파일 개수 새기 -->
{{$len_t := len $test}}


<div style="margin: 0 auto; text-align: center;">
  <fieldset class="range__field">
      <input class="range" type="range" min="1" max="{{ $len_t }}" value="1">
      <svg role="presentation" width="100%" height="10" xmlns="http://www.w3.org/2000/svg" style="overflow: visible;">
        <!-- 파일 별로 loop 돌리기 -->
        {{ range  $test }}
        <!-- 확장자 제거하기 -->
        {{ $num := replace .Name ".png" "" }}
        <!-- percent 만들기  1단계 -->
        {{ $percent := div (float 100) (sub $len_t 1) }}
        <!-- -2 하는 이유는 0을 포함하기 때문임 -->
        {{ $percent := math.Round (mul $percent (sub (int $num) 1)) }}
        <rect class="range__tick" x="{{$percent}}%" y="3" width="1" height="10"></rect>
        {{end}} 
        <!-- <rect class="range__tick" x="100%" y="3" width="1" height="10"></rect> -->
      </svg>

      <svg role="presentation" width="100%" height="14" xmlns="http://www.w3.org/2000/svg" style="overflow: visible;">
        {{ range  $test }}
        {{ $num := replace .Name ".png" "" }}
        {{ $percent := div (float 100) (sub $len_t 1) }}
        {{ $percent := math.Round (mul $percent (sub (int $num) 1)) }}
        <text class="range__point" x="{{$percent}}%" y="14" text-anchor="middle">{{$percent}}%</text>
        {{end}} 
        <!-- <text class="range__point" x="100%" y="14" text-anchor="middle">100%</text> -->
        
      </svg>

  </fieldset>

  
  <img src="/plotly/test/1.png" id='img' style='width : 70% ; height : 70% ; margin: 20px auto; text-align: center;'>
</div>

<script>


var imageUrl = new Array();
{{ range $test }}
    {{ $num := replace .Name ".png" "" }}
    {{ $percent := div (int 100) (int $len_t) }}
    {{ $percent := mul $percent (sub (int $num) 1)}}
    imageUrl["{{$num}}"] =  '{{$getdir}}/{{$num}}.png';
  {{end}} 
// imageUrl[100] =  '/plotly/test/8.png';

       
$(document).on("input change", ".range", function() {
   var v=$(this).val(); //slider bar
   $('#sliderStatus').html( $(this).val() ); 
   $("#img").prop("src", imageUrl[v]);
   });

</script>
